.head-top {
  background-color: white;
  border-radius: 0.3rem;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  padding-bottom: 1rem;
}

.head-top .head-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-inline: 1rem;
}

.head-top .head-cover-wrapper {
  position: relative;
}

.head-top .head-cover-wrapper > button {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.head-top .head-cover-wrapper .head-cover {
  height: 12rem;
  width: 100%;
}

.head-top .head-button {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.head-top button:not(.head-connect):not(.head-avatar) {
  background-color: #f5f5f5;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color 0.3s;
}

.head-top button:not(.head-connect):not(.head-avatar):hover {
  background-color: #e0e0e0;
}

.head-top .head-connect {
  margin-bottom: 0;
}

.head-top svg {
  width: 1rem;
}

.head-top .head-avatar {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-top: -3rem;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  margin-left: 1rem;
  object-fit: cover;
}

.head-top .head-avatar img {
  width: 100%;
  height: 100%;
}

.head-top .head-name {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}

.head-top .head-location {
  color: #585858;
  font-size: 0.85rem;
}

.head-top .head-inputs {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.head-title{
  font-size: 0.85rem;
}
