.layout-root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}

.container {
  max-width: 74rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}

a {
  color: var(--primary-color);
  font-weight: bold;
}

header {
  background: white;
  border: 1px solid #e0e0e0;
}

header .container {
  padding-block: 1rem;
}

header a {
  display: block;
  width: max-content;
}

.logo {
  width: 7rem;
}

main {
  display: grid;
}

h1 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

footer {
  font-size: 0.8rem;
  background: white;
  border: 1px solid #e0e0e0;
}

footer a {
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
}

footer img {
  width: 4rem;
  height: auto;
}

footer ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

footer li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
