.input-root {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-block: 1rem;
}

.input-root input {
    border-radius: 4px;
    padding: 0.7rem;
    font-size: 1rem;
    border: 1px solid rgba(0,0,0,0.6);
}



/* .input-root {
    display: grid;
    gap: 0.5rem;
    margin-block: 1rem;
} */

/* .input-root input {
    border: 1px solid #6f6f6f99;
    border-radius: 4px;
    width: 100%;
} */

/* Large size */
/* .input-root.large input {
    padding: 1rem;
} */

/* Medium size */
/* .input-root.medium input {
    padding: 0.5rem;
    font-size: 0.9rem;
} */

/* Small size */
/* .input-root.small input {
    padding: 0.2rem;
    font-size: 0.8rem;
} */