
form {
    margin-top: 0.5rem;
}
p{
    font-size: 0.9rem;
}

.forget-pass{
    font-size: 0.85rem;
}

.disclaimer {
    font-size: 0.7rem;
}

.register {
    text-align: center;
    font-size: 0.85rem;
}

.error {
    color: red;
    margin-bottom: 1rem;
}

.login-logo{
    margin-right: 1rem;
}
