.disclaimer {
    font-size: 0.7rem;
}

.register {
    text-align: center;
    font-size: 0.85rem;
}

.btn{
    font-size: 0.8rem;
}

.error {
    color: red;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
.btn-size{
    margin-right: 1rem;
}

